.display-season {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon-left {
  position: absolute;
  left: 10px;
  top: 10px;
}
.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.display-season.winter i {
  color: blue;
}
.display-season.summer i {
  color: red;
}
.winter {
  background-color: aliceblue;
}
.summer {
  background-color: orange;
}
